<h1>MamHlad</h1>

<h4>Dnešný dátum</h4>
<p><%= Date.today %></p>

<% for canteen in @canteens %>
	<h2><%= link_to canteen.name_short, canteen %></h2>

	<p>Aktuálne čakanie: 
		<% if canteen.waits.count > 0 %>
			<%= canteen.waits.last.value %> minút <br>
			<small>Aktualizované pred <%= time_ago_in_words(canteen.waits.last.created_at) %></small>
		<% else %>
			Ešte nebolo zadané
		<% end %>	
	</p>
	<p>
		Najpickovanejšie jedlo:
		<% if canteen.meals.count > 0 %>
			<%= canteen.meals.first.name %>
		<% else %>
			Žiadne jedlo nebolo ešte vybrané
		<% end %>
	</p>
	<p>Počet lajkov: <%= canteen.likes_count %></p>
	<p>Počet komentárov: <%= canteen.comments.count %></p>
<% end %>